/* Letra: */
.root {
  margin: 2rem auto;
}
.lyrics {
  white-space: pre-wrap !important;
}
.title {
  margin-bottom: 3rem !important;
}
.media {
  background-size: cover;
  max-height: 50vh;
}
.addBtn {
  justify-content: flex-end;
}
