
/* Letra: */
.root {
    max-width: 800;
    margin: "2rem auto";
  }
  .lyrics {
    white-space: pre-wrap !important;
  }
  .title {
    margin-bottom: "3rem !important";
  }
  .media {
    background-size: cover;
    height: "50vh";
  }
  .addBtn {
    justify-content: flex-end;
  }